name: Test

on:
  push:

jobs:
  test:
    runs-on: ubuntu-latest

    name: Test (Ruby ${{ matrix.ruby-version }})

    strategy:
      fail-fast: false

      matrix:
        ruby-version:
          - 2.6
          - 2.7
          - 3.4

    steps:
      - uses: actions/checkout@v4

      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby-version }}

      - run: bundle install
      - run: bundle exec rake
